/*reset css?*/

#canvas {
    width: 400px;
    height: 300px;
    border: 1px solid red;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px rgba(255, 0, 255, 0.7);
}

/*
# 语法
box-shadow: h-shadow v-shadow blur spread color inset;
注释：
box-shadow 向框添加一个或多个阴影。
该属性是由逗号分隔的阴影列表，每个阴影由 2-4 个长度值、可选的颜色值以及可选的 inset 关键词来规定。
省略长度的值是 0。

值	描述
h-shadow	必需。水平阴影的位置。允许负值。
v-shadow	必需。垂直阴影的位置。允许负值。

blur	可选。模糊距离。
spread	可选。阴影的尺寸。
color	可选。阴影的颜色。请参阅 CSS 颜色值。
inset	可选。将外部阴影 (outset) 改为内部阴影。
*/