doctype html
html
	head
		meta(charset="UTF-8")
		title hello jade & gulp
		link(rel="stylesheet" href="./css/main.css")
	body
		h1 we used jade to generate this
		p it seems like it works! :)
		#div: h3 Hello ,Gulp !
		mark just check the change of jade!
		script(src="./js/main.js")