<h1>{{title}}</h1>
<h2 class="ngModel-h2"><span>{{hero_old.user_name}}</span>details!</h2>
<div>
    <label>id: </label>
    <input type="text" value="{{hero_old.user_id}}" placeholder="id" readonly disabled>
</div>
<div>
    <label>name: </label>
    <input type="text" [(ngModel)]="hero_old.user_name" placeholder="hero_old-user_name">
</div>
<h2>My Heroes</h2>
<p *ngIf="heroes.length > 3">There are many( > 3) heroes!</p>
<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>
<div>
    <h2>My favorite hero is: {{myHero.name}}</h2>
    <p *ngIf="heros.length > 3">There are many( > 3) heros!</p>
    <ul class="heroes">
        <li *ngFor="let herox of heros" (click)="onSelect(herox)">
            <span class="badge">{{herox.id}}</span> {{herox.name}}
        </li>
    </ul>
</div>
