/*
Nesting selectors &&  properties
*/ 
@import url(https://fonts.googleapis.com/css?family=Pacifico);
//Add variables here:
$translucent-white:rgba(255,255,255,0.3);
$icon-square-length: 300px;
$standard-border: 4px solid black;

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

.banner {
    font-family: 'Pacifico', cursive;
    height: 400px;
    background-image: url("lemonade.jpg");
    border : {
        top: $standard-border;
        bottom: $standard-border;
    }
    .slogan {
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        background-color: $translucent-white;
        span {
            position: absolute;
            text-align: center;
            line-height: 200px;
        }
    }
}

.container {
    text-align: center;
    font-family: 'Pacifico', cursive;
    .icon {
        display: inline-block;
        margin: 2%;
        border: $standard-border;
        font-size: 32px;
        width: $icon-square-length;
        height: $icon-square-length;
    }
}

.parent {
    font : {
        family: Roboto, sans-serif;
        size: 12px;
        decoration: none;
    }
}
/*
.parent {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-decoration: none;
}
*/ 
